html{margin:0;
    padding:0;}

body{ padding: 0;
     margin: 0;
     border:0;
    background-color: #0df80d;}

/* Nav Bar Styling Begin */

header{margin:0;
      padding:0;
      height: auto}

nav{padding:0;
    margin: 0;
    background-color: black;
    display: block;}

nav > ul{margin:0;
        padding:0;
        display: flex;
        width: 100vw;}

nav li{width: 33.3%;
       text-align: center;
       }

 nav a{font-family: sans-serif;
      list-style-type: none;
      text-decoration: none;
      color: white;
      font-size: 3.5vw;
      }
nav a:hover{color:blue;}

/* Nav Bar Styling End */

/* Title Styling Begin */
.title{display: block;
      margin: 0;
      padding: 0;
      }

h1{text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  }
      

      
/* Title styling end */

/* Intro Styling Begin */

#intro-pic{display: block;
      float: left;
     padding: 0 10px;
}

#intro-para > p{ font-size: 20px;
      font-family: sans-serif;
       }

#intro-pic > img{box-sizing: border-box;
            border: 5px solid black; }
       

/* Intro Styling End */



/* Footer Styling Begin */

footer{position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: black;
       width: 100vw;
      height: auto;}

footer p{color: white;
        font-family: sans-serif;
         text-align: center;
        }

footer ul{display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          }

footer li{padding: 0 20px;
          }

/* Footer Styling End */

/* Media Query CSS Start */

@media screen and (max-width: 536px) {


  
      footer{width: 100%;}
      
      nav{width: 100%}
      
        #intro-pic{display: block;
                   width: 100%;
                   text-align: center;
                   }
                  
        
      #intro-para{display:block;
                width: 100%;
                 text-align: center;}
      
      
      
        
      }
      
      /* Media Query CSS End */