
html{height:100%}

body{ background-color: #86f9ae;
   min-height: 100vh;
     width: 100%;
     margin: 0;
     padding: 0;
     
     }
 header{background-color:black;
        height: 5vh;
        width: 100%;
        margin: 0;
        padding: 0;
       }   
#navbarul {margin: 0;
          display: flex;
          width: 100%}

.navbar {width:33.3%;
       list-style-type: none;
       box-sizing: border-box;
       text-align: justify;
      }

.navbar > a{text-decoration: none;
            font-size: 4vh;
            color: white;
            font-family: sans-serif;
            }

.navbar > a:hover{color:blue;
                 }

 header{ position: fixed;
         width: 100%;
                     }
               
/* styling for nav bar end */


/* styling for footer begin */

footer{
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background: #111;
       height: auto;
       width: 100vw;
       padding-top: 40px;
       color: #fff;
   }
   
   .footerul{display: flex;
             padding: 0;
             
             
     }
            
   .footerul > li {text-decoration: none;
             list-style-type: none;
                  margin: 0 30px;
                  padding: 0;}
   
   .footer-content{
     padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       text-align: center;
   }
   
   
   
   /* styling for footer end */